<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>United Arab Emirates</string>
	<string>Argentina</string>
	<string>Austria</string>
	<string>Belgium</string>
	<string>Brazil</string>
	<string>Canada</string>
	<string>China</string>
	<string>Germany</string>
	<string>Egypt</string>
	<string>France</string>
	<string>Great Britain</string>
	<string>Greece</string>
	<string>Honk Kong</string>
	<string>Hungary</string>
	<string>Indonesia</string>
	<string>Ireland</string>
	<string>India</string>
	<string>Italy</string>
	<string>Japan</string>
	<string>Lithuania</string>
	<string>Latvia</string>
	<string>Mexico</string>
	<string>Malaysia</string>
	<string>Nigeria</string>
	<string>Netherlands</string>
	<string>New Zealand</string>
	<string>Poland</string>
	<string>Portugal</string>
	<string>Russia</string>
	<string>Saudi Arabia</string>
	<string>Singapore</string>
	<string>Thailand</string>
	<string>Turkey</string>
	<string>USA</string>
	<string>Venezuela</string>
	<string>South Africa</string>
</array>
</plist>
