<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ar</string>
	<string>au</string>
	<string>be</string>
	<string>br</string>
	<string>ca</string>
	<string>cn</string>
	<string>eg</string>
	<string>fr</string>
	<string>de</string>
	<string>gb</string>
	<string>gr</string>
	<string>hk</string>
	<string>hu</string>
	<string>in</string>
	<string>id</string>
	<string>ie</string>
	<string>it</string>
	<string>jp</string>
	<string>lv</string>
	<string>lt</string>
	<string>my</string>
	<string>mx</string>
	<string>nl</string>
	<string>nz</string>
	<string>ng</string>
	<string>pl</string>
	<string>pt</string>
	<string>ru</string>
	<string>sa</string>
	<string>sg</string>
	<string>za</string>
	<string>th</string>
	<string>tr</string>
	<string>us</string>
	<string>ae</string>
	<string>ve</string>
</array>
</plist>
